
body{
    text-align: center;
    background-color:#F3DFA2;

}



.container{

    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    justify-content: center;
    align-items: center;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border:none;
    border-radius: 1rem;
    box-shadow:0 0 1rem rgba(0,0,0,0.3) ;
    cursor: pointer;
    font-size: 8vmin;
}
#reset-btn,#new-game{
    padding: 1rem;
    font-size:1.25rem;
    background-color: #191913;
    color:white;
    border-radius:1rem;
    border:none;
}
#msg {
    color:#FF3F00;
    font-size: 6vmin;
    font-weight: bold;
}
.msg-container{
    height: 100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display:none;
}
.colorOfx{
    color:#7EBDC2;
}
.colorOfo{
    color:#BB4430;
}
